.App {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  background: lightskyblue;
  display: flex;
  justify-content: space-between;
  height: 70px;
  box-shadow: 0 5px 5px grey;
}

.brand {
  color: white;
  margin: 15px;
}

.button-info {
  margin: 15px;
}

.content-body {
  margin-top: 30px;
  height: 100%;
  width: 100%;
}

.content-body__left-side{
  color: black;
  padding-top: 30px;
  border-right: 1px solid rgb(118, 118, 118);
}

.content-body__main-content {
  display: flex;
  color: black;
  padding-top: 25px;
  font-size: 1.2rem;
}
